@model IEnumerable<DesarrolloAprendeLibre.Models.Clase>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Clases";
}


<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>

    <body>
    <div class="help-card">
        <img src="~/img/ilustracion-clase.png" alt="Ayuda" class="help-image">
        <div class="help-text">
            <h2>¿Cómo funciona esta pestaña de clase?</h2>
            <p>En esta sección, puedes seleccionar diferentes materias para ver las clases disponibles.</p>
            <h2>¿Cómo navegar?</h2>
            <p>Haz clic en una de las cartas de materia para ser redirigido a la vista de clases específicas de esa materia.</p>
        </div>
    </div>

    <h2 class="titulo-clases">Clases</h2>
    <div class="parent-card">
        <div class="cards">
            <div class="card red">
                <a href="/Clase/Matematicas">
                    <p class="tip">Matemáticas</p>
                    <p class="second-text">Clase de Matemáticas</p>
                </a>
            </div>
            <div class="card blue">
                <a href="/Clase/Español">
                    <p class="tip">Español</p>
                    <p class="second-text">Clase de Español</p>
                </a>
            </div>
            <div class="card green">
                <a href="/Clase/Ciencias_Naturales">
                    <p class="tip">Ciencias Naturales</p>
                    <p class="second-text">Clase de Ciencias Naturales</p>
                </a>
            </div>
            <div class="card red">
                <a href="/Clase/Ingles">
                    <p class="tip">Inglés</p>
                    <p class="second-text">Clase de Inglés</p>
                </a>
            </div>
            <div class="card blue">
                <a href="/Clase/Fisica">
                    <p class="tip">Física</p>
                    <p class="second-text">Clase de Física</p>
                </a>
            </div>
            <div class="card green">
                <a href="/Clase/Sociales">
                    <p class="tip">Sociales</p>
                    <p class="second-text">Clase de Sociales</p>
                </a>
            </div>
            <div class="card red">
                <a href="/Clase/Etica">
                    <p class="tip">Ética</p>
                    <p class="second-text">Clase de Ética</p>
                </a>
            </div>
        </div>
    </div>

    </body>

    <style>
        a{
            text-decoration:none;
            color:white;
        }
    </style>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</html>