@{
    ViewData["Title"] = "Home Page";
}

<html lang="es">
 <head>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<div class="text-center">
    <div class="container-section-1">
        <div class="texto-izquierda">
            <h2>Aprendiendo Sin Barreras</h2>
            <h3>Desde Cualquier Lugar</h3>
            <p>Cultiva tu aprendizaje desde el lugar remoto que desees solo con un <span class="click-azul">click</span></p>
            <button>Registrarse</button>
        </div>
        <div class="img-ilustracion">
            <img src="img/section_1_learn.png" alt="Ilustración de aprendizaje" />
        </div>
    </div>
</div>

<div class="container-section-2">
    <div class="texto-varios">
        <h2>¡Disfruta de Nuestra <br /> Comunidad!</h2>
        <p>¿Qué puedes hacer en ella?</p>
    </div>
    <div class="cartas-comunidad">
        <div class="carta">
            <img src="img/icono_users.png" alt="Icono Miembros Comunidad" />
            <h3>Miembros Comunidad</h3>
            <p>¡Bienvenidos a nuestra comunidad educativa, donde estudiantes y profesores se unen para compartir conocimientos, inspiración y apoyo mutuo en su viaje académico y profesional!</p>
        </div>
        <div class="carta">
            <img src="img/icono_manos_juntas.png" alt="Icono Aprender Juntos" />
            <h3>Aprender Juntos</h3>
            <p>En 'Aprender Juntos', estudiantes y profesores forman un equipo dinámico donde el intercambio de conocimientos y la colaboración son el corazón de nuestra comunidad. Desde aulas hasta debates y más allá.</p>
        </div>
    </div>
</div>
</html>